
*.lck
*.bak
*.tmp
*.bak_000f
*.bak_001d
*.bak_001f
*.tmp
*.bak_002d
*.bak_003d
*.bak_008d
*.bak_004d
*.bak_005d
*.bak_006d
*.bak_007d
*.bak_000d
*.class
*.class
~$ggestions.docx
~$date 23.11.17.docx
~$seplan.docx
~$grænsning.docx
~$apport.docx
*.bak_009d
*.bak_010d
*.bak_011d
*.bak_012d
*.bak_013d
*.bak_014d
*.bak_015d
SWD/~$e Cases.docx
~$ster for Fejl.docx
